<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성폼</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header id="header"></header>
    <div class="layout">
        <form id="postForm" method="post">
            <input id="title" type="text" required placeholder="제목을 입력하세요">
            <textarea id="content" type="text" required placeholder="내용을 입력하세요"></textarea>
            <button type="submit">게시물 작성</button>
        </form>
    </div>
    <script src="/js/header.js"></script>    
    <script src="/js/boardwrite.js"></script>
</body>
</html>