<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
    <link rel="stylesheet" href="/css/boardview.css">
</head>
<body>
    <header id="header"></header>
    <div class="layout">
        <div class="header-container">
            <h1 id="boardTitle"></h1>
            <h6 id="boardEmail"></h6>
        </div>

        <p id="boardContent"></p>

        <button id="deleteBtn">글 삭제</button>
        <button id="modifyBtn">수정</a>
    </div>
    <script src="/js/header.js"></script>
    <script src="/js/boardview.js"></script>
</body>
</html>