<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <div class="form-container">
        <h2>회원가입</h2>
        <form id="signUpForm">
            <input type="email" id="email" placeholder="이메일" required>
            <input type="password" id="password" placeholder="비밀번호" required>
            <input type="password" id="password2" placeholder="비밀번호 확인" required>
            <button type="submit">회원가입</button>
        </form>
        <a href="/list">메인 페이지</a>
    </div>
</body>

<script src="/js/signUp.js"></script>

</html>