<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 작성폼</title>
</head>

<style>
    .layout{
        width:500px;
        margin:0 auto;
        margin-top: 40px;
    }

    .layout input{
        width:100%;
        box-sizing:border-box;
    }

    .layout textarea{
        width:100%;
        margin-top:10px;
        min-height: 300px;
    }
</style>

<body>
    <div class="layout">
        <form id="postForm" method="post">
            <input id="title" type="text" required placeholder="제목을 입력하세요">
            <textarea id="content" type="text" required placeholder="내용을 입력하세요"></textarea>
            <button type="submit">게시물 작성</button>
        </form>
    </div>
        

    <script>
        document.getElementById('postForm').addEventListener('submit',function(event){
            event.preventDefault();

            const title = document.getElementById('title').value;
            const content = document.getElementById('content').value;

            fetch('/api/board', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // JSON 형식으로 데이터 전송
                },
                body: JSON.stringify({title,content}),
            })
            .then(res => {
                if(res.status === 201){
                    alert("success");
                    window.location.href = '/list';
                }else{
                    alert("작성에 실패했습니다.");
                }                    
            })
            .catch(error => console.error('Error:',error));
        })
    </script>
</body>
</html>