<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header id="header"></header>
    <h1 id="boardTitle"></h1>
    <p id="boardContent"></p>

    <button id="deleteBtn">글 삭제</button>
    <!--<a th:href="@{${board.filepath}}">다운받기</a>-->
    <button id="modifyBtn">수정</a>
    <script>
        fetch('/header.html')
            .then(response => response.text())
            .then(data => {
                console.log(data);
                document.getElementById('header').innerHTML = data;
                // header.html 내의 스크립트 실행
                const scripts = document.getElementById('header').getElementsByTagName('script');
                for (let script of scripts) {
                    eval(script.textContent);  // 스크립트 실행
                }
            })
            .catch(error => console.error('Error loading header:', error));

        const postId = window.location.pathname.split('/').pop();

        if (postId) {
            fetch(`/api/board/post/${postId}`)
                .then(res => res.json())
                .then(data => {
                    // Update the title and content with the data from the API
                    document.getElementById('boardTitle').innerText = data.title;
                    document.getElementById('boardContent').innerText = data.content;
                })
                .catch(error => {
                    console.error('Error fetching post details:', error);
                });
        } else {
            console.error('No post ID found in query string');
        }

        document.getElementById('deleteBtn').addEventListener('click', function() {
            const result = confirm("정말 삭제하시겠습니까?");
            if(result){
                fetch(`/api/board/${postId}`, {
                method: 'DELETE'
                })
                .then(res => {
                    if(res.status===200){
                        alert('삭제되었습니다.');
                        window.location.href = '/list';
                    }else{
                        alert('삭제에 실패했습니다.')
                    }
                })
                .catch(err => console.error(err))
            }            
        })

        document.getElementById('modifyBtn').addEventListener('click', function(){
            window.location.href =`/modify/${postId}`
        })
    </script>
</body>
</html>