<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 리스트 페이지</title>
</head>

<style>
    .layout{
        width:500px;
        margin:0 auto;
        margin-top: 40px;
    }
</style>


<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr id="board-list">
                </tr>
            </tbody>
        </table>
        <!--
        <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page-1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color: red;"></strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
        -->
        <button type="button" onclick="location.href='/write'">글쓰기</button>
    </div>

    <script>
        const boardListEl = document.getElementById('board-list');

        function fetchBoardData() {
            fetch('/api/board/list')
                .then(response => response.json())
                .then(data => {
                    renderBoardList(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function renderBoardList(boards) {
            boardListEl.innerHTML = '';
            boards.forEach(board => {
                const row = document.createElement('tr');
                row.innerHTML=`
                    <td>${board.id}</td>
                    <td><a href="/view/${board.id}">${board.title}</a></td>
                `;
                boardListEl.appendChild(row);
            })
        }

        fetchBoardData();
    </script>
</body>
</html>